@import './config';
@import './mixin';
@import './color';
@import './ant-design/index';
@import '../assets/public_icon/index.less';
@import '../assets/menu_font/index.less';

html,
body,
#app {
  height: 100%;
  .reset();
  
  * {
    box-sizing: border-box;
  }
}

#@{gx-prefix-pro}-admin {
  height: 100%;
}

.@{gx-prefix-pro}-iframe-page-main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 0;
  background-color: #fff;
}

.@{gx-prefix-pro}-scroll {
  overflow: auto;
  .scrollbar();
}

.@{gx-prefix}-admin-a {
  transition: color 0.3s;
  cursor: pointer;
  
  &:hover {
    --at-apply: text-hex-main;
  }
}

#nprogress .bar {
  --at-apply: bg-hex-main;
}

.clearfix {
  .clearfix();
}
